::root {
    background-color: --bg-color;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #212121;
    display: flex;
    justify-content: center;
}

.color-palette {
    background: #ffffff6a;
    position:fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: fit-content;
    width: 500px; /*!*/
    height: 50px;
    border-radius: 20px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px 10px -2px rgba(145, 142, 142, 0.512);
    backdrop-filter: blur(50px);
}

.color {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    /* border-top-right-radius: 1px; */
    /* corner-shape: round; */
    corner-top-right-shape: scoop;
    corner-top-left-shape: scoop;
    corner-bottom-left-shape: scoop;
    corner-bottom-right-shape: scoop;
    position: relative;
}

.color::before {
    content: "";
    color: white;
    position: absolute;
    top: -6px;
    left: -4px;
    width: 40%;
    height: 40%;
    background-color: var(--bg-color);
    opacity: 0.3;
    border-radius: 50%;
    corner-top-right-shape: scoop;
    corner-top-left-shape: scoop;
    corner-bottom-left-shape: scoop;
    corner-bottom-right-shape: scoop;
    transform: rotate(270deg);
    z-index: -1;
}


